
  #menu{
      background: dodgerblue;
      padding: 50px;
      background-image: url(../img/fondo.jpg);
      background-position: initial;
  }

  #formulario {
      text-align: center;
      padding: 20px;
      background-image: url(../img/fondoform.jpg);
      background-repeat: no-repeat;
      background-position: center;

  }

   

